
DATABASE_URL="postgresql://postgres:password@localhost:5432/frontend"

BETTER_AUTH_SECRET="your-secret-here"
POLAR_ACCESS_TOKEN="your-access-token"
POLAR_ACCESS_SECRET="your-access-secret"


AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=ap-southeast-2  (or your chosen region)
AWS_S3_BUCKET_NAME=your-bucket-name
MODAL_API_URL="your-modal-api-url"
MODAL_API_KEY="your-modal-api-key"
MODAL_API_SECRET="your-modal-api-secret"
